body {
    background-color: #212121;
    color: #f5f5f5;
    font-family: sans-serif;
/*    font-size: 12px;*/
    line-height: 1.6em;
    margin: 0;
}

.mycontainer {
    width: 98%;
    margin: auto;
    overflow: hidden;

}

#main-header {
    background-color: #424242;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
}

a{
 text-decoration:none;
 color:#cc0000;
/*    font-size: 15px;*/
}

a.abtn{
 background-color: black;
 border:1px solid black;
 color:#fff;
    /*margin-top: 30px;*/
 padding:12px 25px 12px 25px; /* top right bottom left */
}

a.abtn-choose{
 background-color: whitesmoke;
 border:1px solid black;
    border-radius: 15px;
 color:#000;
/*    font-size: 11px;*/
    position: absolute;
    margin-top: -20px;
    margin-left: 3.7%;
 padding:5px 10px 5px 10px; /* top right bottom left */
}

a.abtn-choose:hover{
    color: #fff;
    background-color: black;
    border-radius: 15px;
    cursor: pointer;
}

a.abtn-dtls{
    background-color: orange;
}

a.abtn-updt{
    background-color: limegreen;
}

a.abtn-dlt{
    background-color: crimson;
}

a.abtn:hover, a.abtn:focus {
    color: #fff;
    background-color: black;
    border-radius: 25px;
    cursor: pointer;
}

/*-------------------------- myprofile css ------------------------*/

#profile-body{
    position: relative;
    margin-top: 2%;
    height: 570px;
}

#profile-info{
    float: left;
    margin-top: 1%;
    font-size: 15px;
    width: 25%;
/*    height: 550px;*/
    background-color: #263238;
}

#profile-pic{
    /*width: 100%;
    height: 210px;*/
/*    margin-top: 30px;*/
    background-color: cadetblue;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: red; 
    background-size: cover;
    margin-left: 15%
}

img {
   object-fit: cover;
    border-radius: 150px;
   width: 240px;
   height: 240px;
}

#personal-info{
    width: 100%;
    margin-top: 7%;
    height: 280px;
/*    height: 100%;*/
    line-height: 1.6em;
    background-color: darkcyan;
    padding-left: 4%;
}

#profile-details{
    margin-top: 1%;
    float: left;
    width: 75%;
/*    height: 540px;*/
    background-color: #37474f;
}

#profile-stat{
    
    height: 50px;
    background-color:cadetblue;
    margin-bottom: 5px;
}

#profile-postadd{
    
    height: 250px;
    color: black;
    font-family: fantasy;
    background-color:chocolate;
    margin-bottom: 5px;
    position: relative;
}

#profile-postaddrent{
    width: 50%;
    height: 100%;
    float: left;
    background-color:darkkhaki;
    
    background-image:url('../images/flat_for_rent2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    /*background-size: 100%;*/
}

#profile-postaddsale{
    width: 50%;
    height: 100%;
    float: left;
    background-color: cornflowerblue;
    
    background-image:url('../images/flat_for_sale.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    /*background-size: 100%;*/
}

#profile-myadds{
    
    height: 230px;
/*    color: black;*/
    font-family: fantasy;
    color: black;
    background-color:forestgreen;
    margin-bottom: 5px;
    position: relative;
}

#profile-myaddsrent{
    width: 30%;
    height: 100%;
    float: left;
    background-color:coral;
}

#profile-myaddsall{
    width: 40%;
    height: 100%;
    float: left;
    background-color:darkgoldenrod;
    
    background-image:url('../images/for-sale-for-rent.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    
}

#profile-myaddssale{
    width: 30%;
    height: 100%;
    float: left;
    background-color:firebrick;
}

#personal-info h4{
    text-align: center;
}

#profile-footer{
/*    margin-top: 15px;*/
    text-align: center;
/*    background-color: brown;*/
/*    font-size: -5px;*/
}

#info-text{
    padding-bottom: 10px;
}

#info-btn{
    padding-top: 10px;
}

a.Clickable {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}